# ❗This file is an example of all required Environment Variables to run this project
# ❗Make sure you create a new .env file with the following variables and assign their corresponding values

PORT=      
ORIGIN=         
MONGODB_URI=    
SECRET_TOKEN=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=